
<footer>
    <div class="container">
        <div class="row" style="margin-left:3em">           
            <div class="col-md-3 foot">
                <ul class="navbars">
                    <li class="na"><a class="active" href="~/Home/Index">Acceuil</a></li>
                    <li class="na"><a href="~/Achats/Location">Location/Achat</a></li>
                    <li class="na"><a href="~/Construire/Index">Services</a></li>
                    <li class="na"><a href="~/Conseils/IndexConseils">Conseils</a></li>
                    <li class="na"><a href="~/Contact/Contact">Contact</a></li>
                </ul>
                <h1 class="footh1">IMOB<span>+</span></h1>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 contac">
                <h2>Nos contacts</h2>
                <p>+225 00 00 00 00</p>
                <p>+225 00 00 00 00</p>
                <p>+225 00 00 00 00</p>
                <h6>COCODY ANGRE</h6>
            </div>
        </div>
    </div>
</footer>
