<header class="headere">
    <h1>IMOB<span>+</span></span></h1>
    <nav>
        <ul class="navbar">
            <li class="nav-link"><a class="active" href="Home/Index">Acceuil</a></li>
            <li class="nav-link"><a href="/Achats/Location">Location/Achat</a></li>
            <li class="nav-link"><a href="/Construire/Index">Services</a></li>
            <li class="nav-link"><a href="#">Conseils</a></li>
            <li class="nav-link"><a href="/Contact/Contact">Contact</a></li>
        </ul>
    </nav>
</header>
