
<div class="container">
    <div class="title__titre">
        <h2>Comment pouvons nous vous aider chez IMOB<span>+</span></h2>
    </div>

    <div class="cards--options">
        <div class="card-option">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>

            <h2>Déménager</h2>

            <p>Une organisation , une entreprise ou autres ; pour fonctionner efficacement et et assurer sa pérénnité</p>
         
                <a href="~/Construire/Demenager">
                    Contacter
                </a>           
        </div>
        
        <div class="card-option">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>

            <h2>Construire</h2>

            <p>Une organisation , une entreprise ou autres ; pour fonctionner efficacement et et assurer sa pérénnité</p>           
                <a href="~/Construire/Contruire">
                    Contacter
                </a>          
        </div>
        
        <div class="card-option">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>

            <h2>Investir</h2>

            <p>Une organisation , une entreprise ou autres ; pour fonctionner efficacement et et assurer sa pérénnité</p>
           
                <a href="~/Construire/Investir">
                    Contacter
                </a>           
        </div>
     
    </div>
</div>

